*
{
    margin: 0;
    padding:0;
}
#main
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#header
{
    background: rgb(214, 214, 208);
    height: 30px;
    border: rgb(161, 49, 49) 5px solid;
}
#left
{
    background: rgb(139, 139, 139);
   min-height: 600px; 
    width: 196px;
    float:left;  
    border: rgb(235, 162, 210) solid 2px;
}
#panel
{
    background: rgb(160, 166, 168);
    min-height: 530px;
    width: 496px;
    float: left;
   border: rgb(86, 235, 160) solid 2px;
}
#right
{
    background: rgb(95, 84, 84);
    min-height: 600px;
    width: 196px;
    float: right;
    border: solid rgb(55, 156, 238) 2px;
}
#panelFooter
{
    border: rgb(231, 168, 85) 2px solid;
    width: 496px;
    background: lightcyan;
    float: right;
    min-height: 66px;
}
#footer
{
    min-height: 100px;
    clear: both;
    background: rgb(230, 223, 223);
    border: solid red 2px;
}