*
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    
}
#main
{
    width: 1000px;
    padding: 0;
    margin: 0 auto;
}
#head
{
    height: 100px;
    background: #f5f5f5;
    border: 1px solid #cdcdcd;
    margin-bottom: 5px;
}
#head-link
{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #cdcdcd;
    background: #f5f5f5;
    margin-bottom: 5px;   
}
#left
{
    width: 150px;
    min-height: 530px;
    border: 1px solid #cdcdcd;
    background: #0ff;
    margin-bottom: 5px;
    float: left;
}
#content
{
    width: 600px;
   height: 530px;
    border: 1px solid #cdcdcd;
    float: left;
    margin-left: 5px; 
    margin-right: 5px;
    margin-bottom: 5px;    
}
#right
{
    width: 234px;
    height: 530px;
    border: 1px solid #cdcdcd;
    float: left;
    margin-bottom: 5px;
    background: #b6ff00;
}
#footer
{
    margin-top: 20px;
    background:#cdcdcd ;
    border: 1px solid #cdcdcd;
    height: 50px;
    clear: left;
}