/* *
{
    margin: 0;
    padding:0;
}
#menu ul
{
    height: 50%;
    width: 150px;
    list-style-type: none;
    background-color: black ; 
}
#menu li
{     
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid #fff;   
    position: relative;
    padding :0 20px;   
}

#menu a
{
    text-decoration: none;
    color: #FFF;
}
#menu li:hover
{
    background: #454545;
}
#menu li:hover .sub-menu
{   
    display: block;
}
.sub-menu
{
    width: 150px;    
    position: absolute;
    left:150px; 
    top:0;  
    display: none;
}
.sub-menu li
{
   background: #808080;
}
.sub-menu a
{
    color: #fff;    
}
.subb-menu
{
    display: none;
    position: absolute;
    top:0;
    left: 150px;
}
.sub-menu li:hover .subb-menu
{
    display: block;    
}
.subb-menu li
{
    background-color: red;
} */
*
{
    margin: 0px;
    padding:0;
}
#menu ul
{
    height: 50%;
  
    width: 150px;
    list-style-type: none;
    margin: 0 20px;
}
#menu a
{
    color: white;
    text-decoration: none;
    
}
#menu li
{ background: #000000;
    line-height: 50px;
    height: 50px;
    border-bottom: 3px solid #fff;
    position: relative;    
}
#menu li:hover
{
    background: #454545 !important;
}
.sub-menu
{
    width: 150px !important;
    position: absolute;
    left: 151px;
    top:0;   
    display: none;
    margin: 0  !important;
}
.sub-menu li
{  
    background: #808080 !important;
}
.sub-menu a
{
    color: #fff;
}
#menu li:hover .sub-menu
{
    display: block;
}
.subb-menu
{
    position: absolute;
    left: 151px;
    top:0;
    margin: 0 !important;
    display: none;
}
.sub-menu li:hover .subb-menu
{
    display: block;
}