#main
{
    width: 900px;
    border: 2px solid red;
    margin:0 auto;
    padding:5px;    
}
#header
{
    height: 40px;
    background: rosybrown;
    border: 2px solid yellow;
    clear: both;
    margin-bottom: 15px;
}
#left
{
    width: 180px;  
    background: lightcyan;
    border: lightgoldenrodyellow 2px solid;
    min-height: 600px;
    float: left;
    margin:0px 15px 15px  0;
}
#content
{
    margin:0px 15px 15px  0;
    width: 498px;
    min-height: 600px;
    background: lightseagreen;
    border: lightslategray 2px solid;
    float:left;
}
#right
{
    width: 180px;
    float: right;
    background: sandybrown;
    border: 2px solid yellowgreen;
    min-height: 600px;
}
#footer
{
    clear: both;
    background: lemonchiffon;
    border: lightcoral 2px solid;
    height: 50px;

}