*
{
    margin: 0;
    padding: 0;
}
#main
{
    width: 90%;
    margin: 0 auto;
}
#menu
{
    padding:auto;
    background:rgba(96, 96, 247,0.7);
    padding-bottom: 5px;
}
#menu ul
{
    list-style-type: none;
    margin: 5px;
    width: 60%;
}
#menu li
{
    margin-left:30px ;
    margin-top: 13px;   
    position: relative;
    display: inline-block;
}
#menu a
{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}
#menu li:hover a
{
    color:  yellow ;
}
#menu .sub-menu
{
   
    position:absolute;
    margin: 0;
   display: none;
  z-index: 1;
}
.sub-menu li
{ 
    line-height: 35px;
    background: rgb(79, 79, 241);
    width: 220px;
    padding:5px;
    border-bottom: white 2px solid;
    margin: 0  !important;
}
#menu .subb-menu
{
    position: absolute;
    margin: 0;
    top: 0;
    left: 101%;
    display: none;
    z-index: 2;    
}
#menu .sub-menu li:hover .subb-menu
{
    display: block;
}
#menu li:hover .sub-menu
{
    display: block;
}

.sub-menu li:hover a
{
    color:orange !important;
}
.search-box
{        
    float: right;   
    position: relative;
    border-radius: 15px;
    background: white;
    width: 18%;
    padding:10px; 
    height: 15px;
    bottom: 50px;
    left: -3%;
}
 .search-txt
{
    position: relative;
    border: none;
    background: none;
    outline: none;
    width: 95%;
    height: 100%;  
     
}
.search-btn
{
    position: relative;
    bottom: 150%;
    left: 90%;
}
@keyframes anh
{
    0%{background-image: url(image/attn.jpg);}
    33.3%{background-image: url(image/attn.jpg);}
    66.6%{background-image: url(image/khoa.png);}
    99%{background-image: url(image/khoa.png);}
}
#header-link
{        
   margin: 10px 0;
     
    background-size: cover;   
    background-position: center;
    min-height: 500px;
    animation-name: anh;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#main1
{
    height: 600px;
}
.box-thongbao
{
    background: rgb(110, 110, 247);
    color: white;
    font-size: 20px;
    width: 20%;
    text-transform: uppercase;
    text-align: center;
    padding: auto;
   
}
hr
{
    border-bottom:rgb(47, 47, 248) solid 2px;
    margin-bottom: 2px;
}
.left img
{
    width:100%;
}
.left
{
    float: left;
    width: 20%;
   margin-right: 20px;

}
.content
{

    float: left;
   
    width: 40%;
 
}
.content a
{
    text-decoration: none;
    color: blue;
    
    font-size: 25px;
}
.right
{

    float:right;
    width: 35%;
}
.right ul
{
    color: red;
}
.right a
{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    text-transform: capitalize;
}
.right ul+a
{
    color: rgb(136, 32, 32);
}
#thongbao
{
    clear: both;
}
.list-item ul
{
    float: right;
   
}
.list-item ul li
{
    list-style-type: none; 
    display: inline-block;
    vertical-align: middle;
   align-items: center;
   margin-left: 10px;
}
@keyframes ngang1
{
    0% {right: 0; top:0}       
    100%{right: 100%;top:0;}
}
@keyframes ngang2
{
    0%{right:-100%;top:0}
    100%{right:200%;top:0}
}
.clear
{
    clear: both;
}
#hoctap .list-item 
{
    position: relative;
    animation-name: ngang1;
    animation-duration:20s ;
    animation-iteration-count:infinite ;
    
   
}
.picture
{
    background-color: rgba(32, 28, 28,0.9);
    height: 50px;
    position: absolute;
    width: 130px;
    height: 110px;
    top:-100px;
    text-align: center;   
    opacity: 0;
    transition: all .5s;
}
.picture i
{
    position: relative;
    top: 40px;
    color: yellow;
}
.list-item img
{
    width: 130px;
    height: 110px;
}
.list-item li:hover .picture
{
    opacity: 1;
    transform: translate(0,100px);
}

#doitac .list-item
{
    position: relative;
    animation-name: ngang2;
    animation-duration: 25s;   
    animation-iteration-count:infinite ;
}
.footer
{
    height: 100px;
    clear: both;
    text-align: center;
    background-image: url(image/footer.png);
    background-size: cover;
    font-size: 20px;
  
}
.footer .link
{   
    color: red;
}
.footer a
{   color: red;
    text-decoration: none;
}
