#menu ul
{
    background: greenyellow;
    list-style-type: none;
    padding:0;
    width: 200px;
}
#menu ul li
{
    height: 40px;
    line-height: 40px;
    padding:0 20px;
    position: relative;
}
#menu ul li a
{
     text-decoration: none;
     color: black;
    font-weight: bold;
}
#menu ul li:hover
{
    background-color: blanchedalmond;  
}
#menu ul li .sub-menu
{
    display: none;
    position: absolute;
    left:200px;
    top:0px;
}
#menu ul .sub-menu .subb-menu
{
    display: none;
    position: absolute;
    left:200px;
    top:0px;
}
#menu ul li:hover .sub-menu
{
    display: block;
}
#menu ul .sub-menu li:hover .subb-menu
{
    display:block;
}